//Variables 
$color-bg: #1a1a1a;
$color-panel: #2c2c2c;
$color-text: #f8f9fa;
$color-accent: #e50914;
$color-muted: #a1a1aa;
$color-border: #444444;
$color-hover: #683033;

$font-main: 'Roboto', 'Montserrat', sans-serif;

$shadow-soft: 0 0 20px rgba(229, 9, 20, 0.25);

// Breakpoints
$bp-sm: 600px;
$bp-md: 900px;
$bp-lg: 1200px;


